// body, html{
//     height: 100%;
//     margin:0;
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     font-size: 20px;
//     font-weight: 400;
//     line-height: 1.8em;
//     color: #666666;
// }


body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes fadeIn{
    0%{opacity: 0; transform: translateY(-47px);}
    100%{opacity: 1; transform: translateY(-91px);}
}

@keyframes slide{
    0%{transform: translateY(-69px) ;}
    100%{transform: translateY(0px);}
}

.navbar{
    animation: slide 1.5s;
}

.navbar-nav{
    margin-left: 30px;
    margin-right: 30px;
}

.navbar-nav > li{
    padding-left: 30px;
    padding-right: 30px;
}

.nav-item > img{
    height: 30px; 
    margin-top: 20%; 
    -webkit-filter: invert(100%);
}

.main{
    height: 100%;
}

.boxgede{
    height: 100%;
    display: table-cell;
}

.boxkecil{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 20%;
    margin-left: 20%;
    animation: fadeIn 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0%;
}
